<div class="input-wrap" (mousedown)="!isSelectType || open()" #inputWrap>
    <div [style.cursor]="isSelectType ? 'pointer' : 'text'"
         (click)="onMultiContainerClick()" class="multi-container" >
        <ng-container *ngIf="!multiSelectState.shortMode" >
            <div *ngFor="let item of value"
                 class="multi-item"
            >
                {{ searchField ? _.get(item, searchField) : item }}
                <i class="remove icon"
                   (mousedown)="removeItem(item); $event.stopPropagation()">
                </i>
            </div>
        </ng-container>
        <div *ngIf="type != types.SELECT" class="ui input">
            <input (focus)="onFocus($event)"
                   (blur)="isOpen || inputBlur(); checkModeSwitch();"
                   [readOnly]="isSelectType"
                   type="text" maxlength="15" class="multi-input"
            >
        </div>
        <span class="sizer multi-input" #sizer></span>
        <div *ngIf="(!inputValue && !value.length && !inputVisible)
                    || ( type == types.SELECT && !value.length )"
             class="multi-placeholder">
            {{placeholder}}
        </div>
        <div *ngIf="!inputVisible && multiSelectState.shortMode && value.length"
             class="multi-placeholder items-short">
            {{value.length + (value.length == 1 ? ' value'
            : ' values') + ' selected'}}
        </div>
    </div>
</div>
<div class="controls">
    <div *ngIf="type != types.SEARCH"
         (mousedown)="$event.preventDefault()"
         (click)="open()" class="drop">

        <i class="dropdown icon"></i>
    </div>
</div>
<ec-popup #popup
          [ownerElement]="inputWrap"
          [widthAsOwner]="true"
          (beforeClose)="onPopupClose()">
    <div class="ec-combo-popup">
        <ng-container *ngIf="multiSelectState.shortMode">
            <div class="multi-container-popup">
                <div *ngFor="let item of value"
                     class="multi-item">
                    {{ searchField ? _.get(item, searchField) : item }}
                    <i class="remove icon"
                       (mousedown)="removeItem(item, true);
                       $event.stopPropagation()"
                    ></i>
                </div>
            </div>
        </ng-container>
        <ul #ulSuggest (mousedown)="$event.preventDefault()"
            [scrollTop]="scroll">
            <li *ngFor="let item of dataProvider.data; let i = index;"
                (click)="selectItem(item)"
                [ngClass]="buttonCount == i ? 'selected' : ''"
            >
                <template *ngIf="itemTemplate"
                          [ngTemplateOutlet]="itemTemplate"
                          [ngOutletContext]="{ $implicit: item }"
                ></template>
                <ng-container *ngIf="!itemTemplate">
                    {{searchField ? _.get(item, searchField) : item}}
                </ng-container>
            </li>
            <li class="info-item" *ngIf="!dataProvider.data?.length">
                No found items...
            </li>
        </ul>
    </div>
</ec-popup>