
@weakBorder: 1px solid rgba(140, 140, 140, 0.2);

filters-panel {

    .panel-filters {
        margin-right: -270px;
        min-width: 270px;
        max-width: 270px;
        overflow-y: auto;
        height: calc(~'100vh - 180px');

        .icon.setting {
            cursor: pointer;
        }
        .actions {
            position: absolute;
            bottom: 0;
            padding: 18px 30px;
            width: 270px;
            background: #fff;
            box-shadow: 0 -2px 21px 0 rgba(0, 0, 0, 0.08);

            &.present {
                padding: 25px 30px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;

                &:hover {
                    background:  rgba(140, 140, 140, 0.04);
                    cursor: pointer;
                }

                span {
                    display: block;
                    margin-bottom: 14px;
                }

                i.edit-mode {
                    display: block;
                    width: 19px;
                    height:19px;
                    margin: 12px 16px;
                    background: url("assets/edit-icon.png") 100% 100% no-repeat;
                    background-size: contain;
                }
            }

             ec-button {
                 &:first-child {
                     margin-bottom: 6px;
                 }
             }

        }
        .filters-present-wrap {
            padding-top: 5px;

            .filter-present {
                padding: 18px 25px;
                border-bottom: @weakBorder;

                h3 {
                    margin-bottom: 13px;
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
        .filters-edit-container {
            .panel-title {
                margin: 32px 30px 10px 30px;
                margin-bottom: 24px!important;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 14px;
            }
            .filters-list {
                margin: 0 30px;

                &.active {
                    border-bottom: @weakBorder;
                    margin-bottom: 6px;
                    padding-bottom: 6px;
                }
                .filter-item {
                    padding: 8px 10px 8px 0;
                    background-repeat: no-repeat;
                    background-position: 100%;
                    background-size: 14px;
                    ec-checkbox {
                        label {
                            font-size: 14px!important;
                        }
                    }
                    &.type-DATETIME {
                        background-image: url('~assets/images/filter-type-icons/clock.svg');
                    }

                }
            }
        }
    }
}