<div class="panel-filters">
    <div [hidden]="editMode" class="filters-present-wrap">
        <ng-container *ngFor="let filter of filters">
            <div *ngIf="filter.filterType == FilterTypes.DATETIME"
                 class="filter-present"
            >
                <h3>{{filter.expression.label}}</h3>
                <time-filter
                        (onSelect)="filterSelect($event)"
                        [filterInstance]="filter"
                ></time-filter>
            </div>
        </ng-container>
        <ng-container *ngFor="let filter of filters">
            <div *ngIf="filter.filterType != FilterTypes.DATETIME"
                 class="filter-present"
            >
                <h3>{{filter.expression.label}}</h3>
                <single-filter *ngIf="!editMode"
                        (onSelect)="filterSelect($event)"
                        [filterInstance]="filter" [maxRows]="3"
                ></single-filter>
            </div>
        </ng-container>
    </div>
    <div [hidden]="!editMode"
         class="filters-edit-container">
        <div class="panel-title">
            Filtred by
        </div>
        <div (click)="detachInterface()" class="filters-list active">
            <ng-container *ngFor="let dimension of dimensions;">
                <div *ngIf="dimension.isActive"
                     class="filter-item type-{{dimension.type}}
                    unit-{{dimension.unit}}"
                >
                    <ec-checkbox [(ngModel)]="dimension.isActive">
                        {{dimension.name.label}}
                    </ec-checkbox>
                </div>
            </ng-container>
        </div>
        <div (click)="detachInterface()" class="filters-list">
            <ng-container *ngFor="let dimension of dimensions;">
                <div *ngIf="!dimension.isActive"
                     class="filter-item type-{{dimension.type}}
                     unit-{{dimension.unit}}"
                >
                    <ec-checkbox [(ngModel)]="dimension.isActive">
                        {{dimension.name.label}}
                    </ec-checkbox>
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="editMode" class="actions">
        <ec-button #cancelButton (click)="editMode=false" class="blue basic">
            Cancel
        </ec-button>
        <ec-button #saveButton (click)="saveFilters()" class="blue" >
            Save
        </ec-button>
    </div>
    <div *ngIf="!editMode"  (click)="editMode=true" class="actions present">
        <i class="edit-mode"></i>
        <span>{{lang['EDIT_FILTER_PANEL']}}</span>
    </div>
</div>