time-filter {
    display: block;
    #mainCombo {
        margin-bottom: 5px;
    }
    .framePicker {
        margin-top: 5px;
    }
    ec-slicer {
        margin-top: 0.5em;
    }
}
.testPopup {
    background: red;
    width: 300px;
}