<ng-container *ngIf="filterInstance.filterType == filterTypes.DATETIME"
              [ngSwitch]="selectedFilterType"
>
    <ec-combo-s #mainCombo
            [dataProvider]="dataProvider" [searchField]="'label'"
            [(ngModel)]="mainComboValue.singleValue"
            [type]="comboType"
            (onSelect)="selectMainCombo($event, true)"
            [placeholder]="lang['PH__ALL'] + ' ...'"
            id="mainCombo"
    ></ec-combo-s>
    <ng-container *ngSwitchCase="null">
        <!--<ec-slicer *ngIf="slicerMode"></ec-slicer>-->
    </ng-container>
    <ng-container *ngSwitchCase="TimePickerTypes.CUSTOM">
        <ec-date-picker
                [(ngModel)]="filterInstance.value.arrayRep"
                (onSelect)="selectCustom($event)"
        >
        </ec-date-picker>
        <!--<ec-slicer-->
                <!--[hidden]="!slicerMode"-->
                <!--[valueType]="EcSlicerTypes.value.DATE"-->
                <!--(onSlice)="sliceTime($event)"-->
        <!--&gt;-->
        <!--</ec-slicer>-->
    </ng-container>
    <ng-container
            *ngSwitchCase="selectedFilterType == TimePickerTypes.AFTER ||
                           selectedFilterType == TimePickerTypes.BEFORE
                           ? selectedFilterType : ''">
        <ec-date-picker
                [(ngModel)]="filterInstance.value.singleValue"
                (onSelect)="selectCustom($event)"
                [options]="{type:EcDatePickerTypes.SINGLE}"
        >
        </ec-date-picker>
    </ng-container>
    <ng-container *ngSwitchCase="TimePickerTypes.FRAME">
        <ec-combo-s
                [(ngModel)]="filterInstance.value.temporal"
                [dataProvider]="frameTypesProvider"
                [type]="comboTypes.SELECT_FILLED" [searchField]="'label'"
                [placeholder]="'Select temporal...'"
                (onSelect)="selectFrameType($event)"
        ></ec-combo-s>
        <!--<ec-date-picker-->
                <!--[(ngModel)]="framesFromPicker"-->
                <!--[type]="EcDatePickerTypes.MULTIPLE"-->
                <!--[placeholder]="'Select second frame...'"-->
                <!--[options]="{multipleDates: 2}"-->
                <!--(onSelect)="selectFrame(framesFromPicker)"-->
        <!--&gt;-->
        <!--</ec-date-picker>-->
        <ec-date-picker class="framePicker"
                [(ngModel)]="framesFromPicker" [options]="{
                    type:'MULTIPLE',
                    datePickerOptions: {
                        multipleDates: 2
                    }
                }"
                [placeholder]="'Select times...'"
                (onSelect)="selectFrame(framesFromPicker)"
        >
        </ec-date-picker>
    </ng-container>
</ng-container>