#popup-container {
    position: absolute;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: none;

    .popup-item-wrap {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
    }
}

ec-popup {
    .popup-item-wrap {
        display: none;
    }
}