
<div class="input-wrap"
     (mousedown)="type.indexOf('SELECT') != 0 || open()"
     #inputWrap>
    <div class="single-container">
        <div class="ui input">
            <input (focus)="onFocus($event)"
               (blur)="isOpen || inputBlur()"
               (keydown)="buttonSelect($event)"
               [class]="type"
               [style.cursor]="isSelectType ? 'pointer' : 'text'"
               [placeholder]="placeholder ? placeholder : ''"
               [readOnly]="isSelectType"
               [(ngModel)]="inputValue" type="text"
            >
        </div>
    </div>
</div>
<div class="controls">
    <div class="reset" [hidden]="!innerValue || type == types.SELECT_FILLED"
         (click)="selectItem()">
        <i class="close icon"></i>
    </div>
    <div class="drop" *ngIf="type != types.SEARCH"
         (mousedown)="$event.preventDefault()"
         (click)="open(true)"
    >
        <i class="dropdown icon"></i>
    </div>
</div>
<ec-popup [ownerElement]="inputWrap"
          [widthAsOwner]="true"
          (beforeClose)="inputBlur()" #popup>
    <ul #ulSuggest [scrollTop]="scroll"
        (mousedown)="$event.preventDefault()"
        class="ec-combo-popup focus"
    >
        <li *ngFor="let item of dataProvider.data; let i = index;"
            [ngClass]="buttonCount == i ? 'selected' : ''"
            (click)="selectItem(item)" >
            <template *ngIf="itemTemplate"
                      [ngTemplateOutlet]="itemTemplate"
                      [ngOutletContext]="{ $implicit: item }">
            </template>
            <ng-container *ngIf="!itemTemplate">
                {{searchField ? _.get(item, searchField) : item}}
            </ng-container>
        </li>
        <li class="info-item" *ngIf="!dataProvider.data?.length">
            No found items...
        </li>
    </ul>
</ec-popup>