@import "~@echo/ui-kit/common/themes/MT/theme.less";

@blurColor: rgba(34,36,38,.15);
@borderRadius: 8px;
@strongBorder: 1px solid rgba(34,36,38,.15);
@weakBorder: 1px solid #fafafa;
@hoverBg: rgba(0,0,0,.05);
@weakTextColor:rgba(201,201,201,1);
@comboWidth: 200px;
@paddingForOpenControl:30px;

@ComboFontSize: 14px;
@ComboFontFamily: "Source Sans Pro", sans-serif;

.ec-combo-m_multi-item_padding {
    padding: 4px 1.5em 4px 4px;
    margin: 3px 2px 3px 2px;
}
.ec-combo-m_multi-item {
    background: #d6dded;
    .ec-combo-m_multi-item_padding;
    border-radius: 4px;
    position: relative;

    .remove.icon {
        top: 0.58em;
        right: 0.3em;
        position: absolute;
        font-size: 0.8em;
        cursor:pointer;
        margin: 0;
    }
}
ec-combo-m, ec-combo-s {
    width: @comboWidth;
    position: relative;
    display: inline-block;
    background: #fff;
    font-size: @ComboFontSize;
    .controls {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: flex-start;
        cursor: pointer;
        div {
            padding: .7em 3px;
        }
        i.icon {
            height: auto;
            width: 1em;
            &.close {
                font-size: 0.8em;
                width: 0.5em;
            }
        }
    }

    .input-wrap {
        border: @strongBorder;
        width:100%;
        position: relative;
        &.focus {
            border-color: #515151;
        }

        .multi-container {
            padding: 2px;
            vertical-align: top;
            min-height: 2.1em; // если меняем ломается алгоритм подсчета

            &:before {
                content: ' ';
                width: @paddingForOpenControl;
                float: right;
                height: 1.5em;
            }
            div {
                display: inline-block;
            }
            .multi-placeholder {
                .ec-combo-m_multi-item_padding;
                color: @weakTextColor;
                &.items-short{
                    color: rgba(0,0,0,.87);
                }
            }
            .multi-item {
                .ec-combo-m_multi-item;
            }
            .multi-input {
                margin: 2px 2px;
                padding: 2px 3px 1px;
            }
            .ui.input {
                display: none;
                input {
                    border: none;
                    width: 10px;
                    font-family: @ComboFontFamily;
                    min-height: 24px; // влияет на высоту инпута...
                    // выпячивает в когда input + item когда выше 1.5em
                    // отробатывает норм когда 14 шрифт и 24px
                    // в целом и с 16 ведет себя предсказуемо
                }
            }
            .sizer {
                display: none;
            }
        }
        .single-container {
            padding: 2px;
            .ui.input {
                width: 100%;
                input {
                    border: none;
                    text-overflow: ellipsis;
                    font-family: @ComboFontFamily;
                    padding: 4px;
                    margin: 2px 2px 1px;
                    width: calc(100% - 3px);
                    &:focus {
                        text-overflow: ellipsis;
                        border: none;
                        color: inherit;
                    }

                    &.SELECT, &.SEARCH_SELECT {
                        padding-right:35px!important;
                        &:focus {
                            padding-right:35px!important;
                        }
                    }
                }
            }
        }
    }
}
#popup-container {
    .ec-combo-popup {
        width: 100%;
        box-sizing: border-box;
        background: #fff;
        color: rgba(0,0,0,.87);
        margin-top: -1px;
        font-size: @ComboFontSize;
        z-index: 1020;
        overflow: auto;
        border: 1px solid #515151;
        max-height: 254px;
        position:absolute;
        border-top-style: none;

        &.verticalMirroring {
            border-top-style: solid;
            border-bottom-style: none;
            margin-top: 1px;
        }

        .multi-container-popup{
            padding: 2px;
            &:before {
                content: ' ';
                width: @paddingForOpenControl;
                float: right;
                height: 1em;
            }
            .multi-item {
                display: inline-block;
                .ec-combo-m_multi-item;
            }
        }
        li {
            border-top: @weakBorder;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: 8px;
            font-size: 14px;
            &:hover {
                background: @hoverBg;
                cursor: pointer;
            }
            &.info-item {
                color: @weakTextColor;
            }
            &.selected{
                background: @hoverBg;
            }
        }
    }
}