<ng-container *ngIf="filterInstance.filterType == filterTypes.STRING">
    <ec-combo-m  [dataProvider]="dataProvider"
                 [maxRows]="maxRows ? maxRows : 1"
                 [(ngModel)]="filterInstance.value.listValue"
                 [type]="'SEARCH_SELECT'"
                 (onSelect)="select($event)"
                 [placeholder]="lang['PH__ALL'] + ' ...'"
    >
    </ec-combo-m>
</ng-container>