@focusColor: #85b7d9;
@blurColor: rgba(34,36,38,.15);
@borderRadius: 8px;
@strongBorder: 1px solid rgba(34,36,38,.15);
@weakBorder: 1px solid #fafafa;
@hoverBg: rgba(0,0,0,.05);
@weakTextColor:rgba(201,201,201,1);


@selectedPickerColor: #00a2ff;
@greyPickerColor: #8b96ad;

@ComboFontSize: 14px;
@ComboFontFamily: "Source Sans Pro", sans-serif;

.placeholder {
    color: @weakTextColor!important;
}

ec-date-picker {
    .placeholder {
        .placeholder;
    }
    width:200px;
    display: block;

    .visible-container {
        width: 100%;
        position: relative;

        .value-holder {
            width: 100%;
            height: 34px;
            background: #ffffff;
            border: @strongBorder;
            padding-right: 45px;
            cursor: pointer;
            text-overflow: ellipsis;

            span {
                display: block;
                padding: 10px 0 8px 10px;
                font-size: @ComboFontSize;
            }
        }
        .controls {
            position: absolute;
            top: 10px;
            right: 2px;
            cursor: pointer;

            .reset {
                position: absolute;
                top: 0;
                right: 25px;
            }
        }
    }

}



#popup-container {
    .ec-date-picker-popup {
        padding: 24px;
        background: #fff;
        box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.23);
        display: flex;
        &.INTERVAL {
            .control-panel {
                flex-direction: row;
            }
        }
        &.MULTIPLE {
            flex-direction: column;

            ec-button {
                margin-top: 15px;
            }
        }
        .datepicker-here {
            height: 203px;
            .datepicker {
                border: none;
                font-size: 14px;
                width: 200px;
                font-family: 'Source Sans Pro', sans-serif;
                .datepicker--cells-years, .datepicker--cells-months {
                    height: 140px;
                }
                .datepicker--cell {
                    height: 22px;
                    .customColors {
                        &.-current- {
                            &:not(.-selected-){
                                color: @selectedPickerColor;
                            }
                        }
                        &.-selected- {
                            background: @selectedPickerColor;
                        }
                    }
                    &.datepicker--cell-day,
                    &.datepicker--cell-year,
                    &.datepicker--cell-month {
                        .customColors;
                    }
                }
                .datepicker--nav {
                    border-bottom: none;
                }
                .datepicker--day-name {
                    color: @greyPickerColor;
                    font-size: 12px;
                }

            }
        }
        .control-panel {
            max-width: 206px;
            display: flex;
            padding: 4px;
            margin-left: 38px;
            flex-wrap: wrap;
            flex-direction: column;

            &.empty {
                .placeholder;

                i.icon:before{
                    .placeholder;
                }
                .split {
                    .placeholder;
                }
            }

            .split {
                margin: 64px 0 0;
                font-size: 26px;
                color: @greyPickerColor;
            }
            .date-holder {
                text-align: center;
                width: 94px;
                .day-holder {
                    margin: 4px 0 15px 0;
                }
                .time-holder {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: bold;
                    font-size: 26px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .empty-holder {
                        display: flex;
                        .dots {
                            padding: 0 10px;
                        }
                    }
                    .angle-holder {
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        padding: 0 2px;

                        &.up {
                            margin: 0 0 3px 0;
                        }

                        i.icon {
                            cursor: pointer;
                            margin: 0;
                            &:before {
                                font-size: 20px;
                                color:@greyPickerColor;
                            }

                        }
                    }

                }
            }
        }
        ec-button {
            flex: 1;
            margin: 32px 0 6px 0;
            font-size: 16px;

            button {
                text-transform: uppercase;
            }
        }
    }
}