<div #visibleContainer class="visible-container" >
    <div (click)="open()" class="value-holder">
        <span *ngIf="value && value.length">
            {{getValueAsString()}}
        </span>
        <span *ngIf="!value || !value.length" class="placeholder">
            {{placeholder ? placeholder : lang['default_placeholder'] + ' ...'}}
        </span>
    </div>
    <div class="controls">
        <div class="drop" (click)="open()">
            <i class="calendar icon"></i>
        </div>
        <div [hidden]="!value || !value.length"
             (click)="clear()" class="reset">
            <i class="close icon"></i>
        </div>
    </div>
</div>
<ec-popup #popup
          [ownerElement]="visibleContainer"
          (beforeClose)="onClose($event)"
>
    <div [ngClass]="options.type" class="ec-date-picker-popup">
        <div #datePickerContainer
             class="datepicker-here">
        </div>
        <ng-container *ngIf="options.type != types.MULTIPLE">
            <!--Full template-->
            <div *ngIf="preSetValue && preSetValue.length"
                 class="control-panel"
            >
                <div *ngIf="preSetValue[0]" class="date-holder">
                    <div class="day-holder">
                        <span>
                            {{ preSetValue[0]
                            .format(timeFormat.ONLY_DAY_STRING) }}
                        </span>
                    </div>
                    <div class="time-holder">
                        <div class="angle-holder up">
                            <i (click)="setTime(true, preSetValue[0])"
                               class="angle up icon">
                            </i>
                            <i *ngIf="options.minutesSelect"
                               (click)="setTime(true, preSetValue[0], 15, 'm')"
                               class="angle up icon">
                            </i>
                        </div>
                        <span>
                            {{ preSetValue[0]
                            .format(timeFormat.ONLY_TIME_WIDE) }}
                        </span>
                        <div class="angle-holder down">
                            <i (click)="setTime(false, preSetValue[0])"
                               class="angle down icon">
                            </i>
                            <i *ngIf="options.minutesSelect"
                               (click)="setTime(false, preSetValue[0], 15, 'm')"
                               class="angle down icon">
                            </i>
                        </div>
                    </div>
                </div>
                <div *ngIf="preSetValue[1]" class="split">
                    <span>-</span>
                </div>
                <div *ngIf="preSetValue[1]"  class="date-holder">
                    <div class="day-holder">
                        <span>
                            {{ preSetValue[1]
                            .format(timeFormat.ONLY_DAY_STRING) }}
                        </span>
                    </div>
                    <div class="time-holder">
                        <div class="angle-holder up">
                            <i (click)="setTime(true, preSetValue[1])"
                               class="angle up icon">
                            </i>
                            <i *ngIf="options.minutesSelect"
                               (click)="setTime(true, preSetValue[1], 15, 'm')"
                               class="angle up icon">
                            </i>
                        </div>
                        <span>
                            {{ preSetValue[1]
                            .format(timeFormat.ONLY_TIME_WIDE) }}
                        </span>
                        <div class="angle-holder down">
                            <i (click)="setTime(false, preSetValue[1])"
                               class="angle down icon">
                            </i>
                            <i *ngIf="options.minutesSelect"
                               (click)="setTime(true, preSetValue[1], 15, 'm')"
                               class="angle down icon">
                            </i>
                        </div>
                    </div>
                </div>
                <ec-button (onClick)="submitSelect()"
                           class="basic blue bold-label">
                    {{lang['submit_button_label']}}
                </ec-button>
            </div>

            <!--Empty template-->
            <div *ngIf="!preSetValue || !preSetValue.length"
                 class="control-panel empty">
                <div class="date-holder">
                    <div class="day-holder">
                        <span>
                            {{ options.type == types.INTERVAL ?
                            lang['empty_from_title'] :
                            lang['empty_from_single_title'] }}
                        </span>
                    </div>
                    <div class="time-holder">
                        <div class="angle-holder up">
                            <i class="angle up icon"></i>
                            <i *ngIf="options.minutesSelect"
                               class="angle up icon"></i>
                        </div>
                        <span class="empty-holder">
                            <span>--</span><span class="dots">:</span>
                            <span>--</span>
                        </span>
                        <div class="angle-holder down">
                            <i class="angle down icon"></i>
                            <i *ngIf="options.minutesSelect"
                               class="angle down icon"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="options.type == types.INTERVAL" class="split">
                    <span>-</span>
                </div>
                <div *ngIf="options.type == types.INTERVAL" class="date-holder">
                    <div class="day-holder">
                        <span>{{lang['empty_to_title']}}</span>
                    </div>
                    <div class="time-holder">
                        <div class="angle-holder up">
                            <i class="angle up icon"></i>
                            <i *ngIf="options.minutesSelect"
                               class="angle up icon"></i>
                        </div>
                        <span class="empty-holder">
                            <span>--</span><span class="dots">:</span>
                            <span>--</span>
                        </span>
                        <div class="angle-holder down">
                            <i class="angle down icon"></i>
                            <i *ngIf="options.minutesSelect"
                               class="angle down icon"></i>
                        </div>
                    </div>
                </div>
                <ec-button [disabled]="true" class="basic grey bold-label">
                    {{lang['submit_button_label']}}
                </ec-button>
            </div>
        </ng-container>
        <ng-container *ngIf="options.type == types.MULTIPLE">
            <ec-button [disabled]="!(preSetValue && preSetValue.length)"
                       [ngClass]="preSetValue && preSetValue.length ? 'blue'
                       : 'grey'"
                       (onClick)="submitSelect()"
                       class="basic bold-label">
                {{lang['submit_button_label']}}
            </ec-button>
        </ng-container>
    </div>
</ec-popup>

