@import "~@echo/ui-kit/common/themes/MT/theme.less";

ec-slicer {
    display: block;
    padding: 45px 28px 15px;
    border: 1px solid #dededf;

    .noUi-target {
        border-radius: 0;
        height: 12px;
        .noUi-connect {
            background: #dd3c57;
        }
        .noUi-handle {
            border-radius: 0;
            width: 12px;
            height: 24px;
            top: -7px;
            left: -2px;
            cursor: pointer;

            &:after, &:before {
                content: "";
                display: block;
                position: absolute;
                height: 14px;
                width: 1px;
                background: #E8E7E6;
                left: 3px;
                top: 5px;
            }
            &:after {
                left: 6px;
            }
        }
    }

}